YouTube Bot Server\config.ini
YouTube Bot VIdeo Generator/config.ini
*.ini
YouTube Bot Server/.idea
YouTube Bot Server/.__pycache__ 
YouTube Bot Client/.idea
YouTube Bot Client/.__pycache__ 
*.pyc
*.mp3
*.wav
C:\Users\Thomas\Desktop\Youtube Bot Experimental\GitHub\Automatic-Youtube-Reddit-Text-To-Speech-Video-Generator-and-Uploader\YouTube Bot Server\config.ini
C:\Users\Thomas\Desktop\Youtube Bot Experimental\GitHub\Automatic-Youtube-Reddit-Text-To-Speech-Video-Generator-and-Uploader\YouTube Bot Server\.idea
C:\Users\Thomas\Desktop\Youtube Bot Experimental\GitHub\Automatic-Youtube-Reddit-Text-To-Speech-Video-Generator-and-Uploader\YouTube Bot Server\__pycache__
